<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">SWR <sup>1.0</sup></div>
  </a>
  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <!-- Nav Item - Dashboard -->
  <li class="nav-item active"  routerLinkActive="active">
    <a class="nav-link" routerLink="">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>  
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCadastro" aria-expanded="true"
      aria-controls="collapseCadastro">
      <i class="fas fa-fw fa-cog"></i>
      <span>Cadastros</span>
    </a>
    <div id="collapseCadastro" class="collapse left_menu" aria-labelledby="headingCadastro" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLinkActive="active" routerLink="rebeldes/lista">Rebeldes</a>        
        <a class="collapse-item" routerLinkActive="active" routerLink="negociacoes/lista">Negociações</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRelatorios" aria-expanded="true"
      aria-controls="collapseRelatorios">
      <i class="fas fa-fw fa-cog"></i>
      <span>Relatórios</span>
    </a>
    <div id="collapseRelatorios" class="collapse left_menu" aria-labelledby="headingRelatorios" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLinkActive="active" routerLink="rel_porc_rebeldes">Porcentagem de Rebeldes</a>
        <a class="collapse-item" routerLinkActive="active" routerLink="rel_porc_traidores">Porcentagem de Traidores</a>
        <a class="collapse-item" routerLinkActive="active" routerLink="rel_media_recursos">Média de Recursos</a>
        <a class="collapse-item" routerLinkActive="active" routerLink="rel_pontos_perdidos">Pontos perdidos</a>
        <a class="collapse-item" routerLinkActive="active" routerLink="rel_historico_loc">Histórico de Localização</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">
  
  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>