<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Rebeldes - Lista</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <a routerLink="/rebeldes/novo" class="btn btn-primary btn-icon-split" style="float: right">
      <span class="icon text-white-50">
        <i class="fas fa-file"></i>
      </span>
      <span class="text">Novo registro</span>
    </a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Gênero</th>
            <th>Idade</th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Gênero</th>
            <th>Idade</th>
            <th></th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let rebelde of rebeldes">
            <td>{{rebelde.id}}</td>
            <td>{{rebelde.nome}}</td>
            <td>{{rebelde.genero}}</td>
            <td>{{rebelde.idade}}</td>
            <td style="width: 50px">
              <a class="btn btn-info dropdown-toggle" href="#" id="actionTable" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Ações
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="actionTable">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-info fa-sm fa-fw mr-2 text-gray-400"></i>
                  Informar Localização
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-trash fa-sm fa-fw mr-2 text-gray-400"></i>
                  Reportar como traidor
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>